
.section{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 15px;
    min-height: 41vh;
    border-radius: 5vmin;
    font-size: 18px;
}

.about-us-container{
    width: 80%;
    display: block;
    margin:auto;
    padding-top:30px;
}

.about-us-row{
    font-size: 20px;
}

.about-us-img {
    width: auto;
    height: auto;
    max-width: 90%;
    padding-bottom: 20px;
}
.main-heading{
    font-size:40px;
    color: #424242;
    padding:30px;
}
.sub-heading{
    font-size: 30px;
    color:  #616161;
    font-weight: bold;
}
.text{
    font-size: 20px;
}

