.crsl-img {
    width:80%;
    height:auto;
    margin-left: 10%;
    border-radius:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 800px;
    height: 420px;
}
@media only screen and (max-width:700px){
    .crsl-img{
        width: 100%;
    }
}
.heading{
    background-image: linear-gradient(
        to right,
        rgb(213, 219, 217) 0%,
        rgb(184, 189, 189) 100%
    );
    font-size: 45px;
    color: rgb(73, 78, 78);
    padding-left: 100px;
}

.text{
    font-size: 80px;
    padding-left: 100px;
    font-style: italic;
    font-family: serif;
    padding-top: 20px;
}

.img-size{
    width: 500px;
    height: 150px;
    position: center;
    padding: 15px;
    padding-left: 100px;
}
@media only screen and (max-width:700px){
    .img-size{
        width: 100%;
    }
}

.background{
    background-image: linear-gradient(
        to right,
        rgb(245, 245, 245) 0%,
        rgb(190, 190, 190) 90%
    );
}