.contact-us{
    color: black;
    font-size:20px;
}

.form{
    max-width: 400px;
    margin:auto;
    text-align: center;
}

.form label {
    text-align:left;
    display: block;
}

.form input, .from select{
    width: 100%;
    padding:6px 10px;
    margin:10px 0px;
    border:1px solid #ddd;
    box-sizing: border-box;
    display: block;
}

.form button{
    background-color: #616161;
    color:white;
    padding:8px;
    cursor:pointer;
    border-radius: 8px;
    border:0;
}

.topic{
    text-align: left;
}
