footer{
    color: white;
  }
  footer a{
    color: #bfffff;
  }
  footer a:hover{
    color: white;
  }
  
  .footer-bottom{
    background: #303841;
    color: white;
    padding: 1rem;
  }
  .footer-top{
    background: #303841;  
  }
  .footer-middle{
     background: #303841;
    padding-top: 2em;
    color: white;
  }