.footer-middle{
  background: #303841;
  color: #F0F5F9;
}

.footer-logo {
  width: 150px;
  height: auto;
}

.footer-link {
  color: #F0F5F9;
  text-decoration: none;
}

.footer-link:hover {
  color: #bfffff;
}