@font-face {
  font-family: 'Helvetica'; 
  src: "../Resources/Fonts/Helvetica.ttf"; 
}

body {
  margin: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d68a67;
}

#root {
  background-color:#E0E0E0;
}

* :not(.material-icons){
  font-family: "Helvetica" !important;
}

*{
  box-sizing: border-box;
}

.bg-secondary {
  background-color: #D6E6F2;
}

.min-page-height {
  min-height: 554px;
}