.nav-links {
    height: 35px;
}

.nav-links:hover {
background-color:silver; /*will change background-color of element on hover */
}

.sticky-menubar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}