.img {
    max-height: 500px;
    width: auto;
}

.small.img {
    width: auto;
    height: auto;
    max-width: 120px;
    max-height: 120px;
	-webkit-transition: .3s step-start;
	transition: .3s step-start;
}

.small.img:hover {
	opacity: .7;
    border-bottom: 3px solid #303841;
}

.link {
    text-decoration: none;
    color: #303841;
    font-size: large;
}

.link:hover {
    color: #303841;
    opacity: .7;
}

.img-badge {
    width: 40px;
    height: 40px;
}

.badge-item {
    display: block;
}

.item-number {
    opacity: .8;
}

ul li {
    list-style-position: inside;
}

.breadcrumb {
    margin-bottom: 3px;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -15px;
    margin-right: -15px;
    border: 2px solid rgb(0, 0, 0);
}