.category-card {
    width: 30rem;
    height: 15rem;
    border-radius: 25px;
}

.category-card:hover {
    border-color: black;
}

.category-image {
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 14rem;
    max-height: 14rem;
    margin-left: .5rem;
    vertical-align: middle;
}

.category-text {
    line-height: 14rem;
}

.category-div {
    display: inline-block;
    width: 0px;
    height: 7.5rem;
}

.category-link {
    text-decoration: none;
    color: black;
}

.category-link:hover {
    color: grey;
    opacity: .9;
}